{% extends 'base.html.twig' %}

{% block title %}Séries {{ category.name }}{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            {% if category.programs|length == 0 %}
                <h1 class="jumbotron-heading mb-4">Aucune série trouvée</h1>
                <a href="{{ path('program_index') }}"><button type="button" class="btn btn-secondary">Toutes les séries</button></a>
            {% else %}
                <h1 class="jumbotron-heading mb-4">Les séries "{{ category.name }}"</h1>
                <a href="{{ path('program_index') }}"><button type="button" class="btn btn-primary">Toutes les séries</button></a>
                <div class="row">
                    {% for program in programs %}
                        {% set programIsWatchList = false %}
                        <div class="col-xl-3 my-5 col-lg-4 col-md-6 col-sm-12">
                            <a class="h-100" href="{{ path('program_show', {id: program.id}) }}">
                                <div class="card box-shadow h-100">
                                    <img src="{{ program.poster }}" alt="Image aléatoire" class="img-fluid object-fit-cover h-100" />
                                </div>
                                {% if app.user %}
                                    {% for watchList in app.user.watchLists %}
                                        {% for programInWatchList in watchList.programs %}
                                            {% if programInWatchList.id == program.id %}
                                                {% set programIsWatchList = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    {% if programIsWatchList == true %}
                                        <a class="mt-2 w-100 text-decoration-none d-flex justify-content-center" href="{{ path("app_user_remove_favoris", {"program_id": program.id, "user_id": app.user.id }) }}"><button class="btn btn-danger">ⓧ Retirer de ma liste</button></a>
                                    {% else %}
                                        <a class="mt-2 w-100 text-decoration-none d-flex justify-content-center" href="{{ path("app_user_add_favoris", {"program_id": program.id, "user_id": app.user.id }) }}"><button class="btn btn-success">⊕ Ajouter à ma liste</button></a>
                                        {% if app.user.watchLists.contains(program) %}
                                            <a class="mt-2 w-100 text-decoration-none d-flex justify-content-center" href="{{ path("app_user_remove_favoris", {"program_id": program.id, "user_id": app.user.id }) }}"><button class="btn btn-danger">ⓧ Retirer de ma liste</button></a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}