{% extends 'base.html.twig' %}

{% block title %}Séries {{ category.name }}{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            {% if category.programs|length == 0 %}
                <h1 class="jumbotron-heading mb-4">Aucune série trouvée</h1>
                <a href="{{ path('program_index') }}"><button type="button" class="btn btn-secondary">Toutes les séries</button></a>
            {% else %}
                <h1 class="jumbotron-heading mb-4">Les séries "{{ category.name }}"</h1>
                <a href="{{ path('program_index') }}"><button type="button" class="btn btn-secondary">Toutes les séries</button></a>
                <div class="row">
                    {% for program in programs %}
                        <div class="col-xl-3 my-4 col-lg-4 col-md-6 col-sm-12">
                            <a class="h-100" href="{{ path('program_show', {id: program.id}) }}">
                                <div class="card box-shadow h-100">
                                    <img src="{{ program.poster }}" alt="Image aléatoire" class="img-fluid object-fit-cover h-100" />
                                </div>
                                {% if app.user %}
                                    <a href="">Ajouter à ma liste</a>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}