{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
<main class="container mt-4">
    <h1 class="my-5">Détails sur la catégorie {{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Séries concernées ({{ category.programs|length }})</th>
                <td>                    
                {% for program in category.programs %}
                    {{ program.title }},
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_edit', {'id': category.id}) }}"><button type="button" class="btn btn-primary mt-2">✎ Modifier</button></a>

    <a href="{{ path('category_index') }}"><button type="button" class="btn btn-secondary mt-2">Retour à la liste</button></a>
</main>
{% endblock %}
