{% extends 'base.html.twig' %}

{% block title %}Épisodes{% endblock %}

{% block body %}
<main class="container">
    <div class="d-flex align-items-center my-5">
        <h1 class="my-2">Liste des épisodes</h1>
        <a href="{{ path('app_episode_new') }}"><button type="button" class="btn btn-primary m-4">⊕ Ajouter</button></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Série</th>
                <th>Titre</th>
                <th>Numéro</th>
                <th>Résumé</th>
                <th class="th-action">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.season.program.title }}</td>
                <td>{{ episode.title }}</td>
                <td>S{{ episode.season.number }} - E{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('app_episode_show', {'id': episode.id}) }}" class="m-1"><button type="button" class="btn btn-primary ">Voir</button></a>
                    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}" class="m-1"><button type="button" class="btn btn-secondary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
