{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
<main class="container mt-4">
    <h1 class="my-5">Détails sur l'épisode {{ episode.number }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            <tr>
            <tr>
                <th>Série</th>
                <td>{{ episode.season.program.title }} - Saison {{ episode.season.number }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ episode.season.program.category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}"><button type="button" class="btn btn-primary mt-2">✎ Modifier</button></a>

    <a href="{{ path('app_episode_index') }}"><button type="button" class="btn btn-secondary mt-2">Retour à la liste</button></a>
</main>
{% endblock %}
