{% extends 'base.html.twig' %}

{% block title %}Saisons{% endblock %}

{% block body %}
    <main class="container">
        <div class="d-flex align-items-center my-5">
            <h1 class="my-2">Liste des saisons</h1>
            <a href="{{ path('app_season_new') }}"><button type="button" class="btn btn-primary m-4">⊕ Ajouter</button></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Série</th>
                    <th>Number</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th class="th-action">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.program.title }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td>
                        <a href="{{ path('app_season_show', {'id': season.id}) }}" class="m-1"><button type="button" class="btn btn-primary ">Voir</button></a>
                        <a href="{{ path('app_season_edit', {'id': season.id}) }}" class="m-1"><button type="button" class="btn btn-secondary">Modifier</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
