<nav class="bg-dark navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Wild Series</a>
        <li class="d-flex">
            {{ render(controller('App\\Controller\\FormController::categorySelectForm')) }}
        </li>
      <ul class="nav">
      
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('program_index') }}">Séries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
        </li>
      </ul>
  </div>
</nav>

<nav class="bg-dark navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Admin Wild Series</a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{{ path('program_admin_index') }}">Séries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_season_index') }}">Saisons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('app_episode_index') }}">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{{ path('category_index') }}">Catégorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Utilisateurs</a>
        </li>
      </ul>
  </div>
</nav>
