<a class="navbar-brand text-white my-2" href="/">Wild Series</a>
<li class="d-flex">
    {{ render(controller('App\\Controller\\FormController::categorySelectForm')) }}
</li>
<ul class="nav">
    <li class="nav-item d-flex align-items-center">
    <a class="nav-link text-white" aria-current="page" href="/">Accueil</a>
    </li>
    <li class="nav-item d-flex align-items-center">
    <a class="nav-link text-white" href="{{ path('program_index') }}">Séries</a>
    </li>
    {% if app.user %}
    <li class="nav-item d-flex align-items-center">
    <a class="nav-link text-white" href="{{ path('app_user') }}">Mon profil</a>
    </li>
    <li class="nav-item d-flex align-items-center flex-column">
        <a class="nav-link text-white" href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger">Déconnexion</button></a>
    </li>
    {% else %}
    <li class="nav-item d-flex align-items-center">
        <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
    </li>
    {% endif %}
</ul>